<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
</head>

<body>

    <h1>Restablecer contraseña</h1> 

    <p>Estiamdo/a @@USER@@:</p>

    <p>Recibimos un pedido para restablecer la contraseña de tu cuenta en @@HOST@@.</p>

    <p>Para restablecer tu contraseña, hacé click en el siguiente enlace:</p>

    <p><a href="@@LINK@@" target="_blank"">Restablecer contraseña</a></p>

    <p>Si no podés hacer click en el enlace, copiá y pegá la siguiente dirección en tu navegador:</p>

    <p>@@LINK@@</p>

    <p>Si no solicitaste restablecer tu contraseña, ignorá este mensaje.</p>

    <p>Saludos cordiales,<br>el equipo de @@HOST@@.</p>

</body>

</html>